<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LLM Philosophy Trail</title>

    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class = "container">
        <div class = "left" id = "left">
             <div class = "model-selection">
                <p>Select a model</p>
             </div>
        </div>
        <div class = "divider" id = "divider"></div>
        <div class = "right" id = "right"><p>fjasdoijfopidjsaiopfdsa</p></div>
    </div>

    <script src="script.js"></script>
</body>
</html>
